# User/IDE/Temp files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
*.log
*.tmp
*.pidb
*.svclog
*.scc
*.vspscc
*.vssscc
.builds
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
~$*
*~
.localhistory/
.ntvs_analysis.dat
.mfractor/
.ionide/

# # Build output
bin/
obj/
bld/
out/
Debug/
DebugPublic/
Release/
Releases/
x64/
x86/
Win32/
ARM/
ARM64/

# Test/Profiler/Code Coverage
TestResult.xml
*.VisualState.xml
[Tt]est[Rr]esult*/
BenchmarkDotNet.Artifacts/
*.psess
*.vsp
*.vspx
*.sap
*.e2e
*.coverage
*.coveragexml
*.dotCover
*.snupkg
*.nupkg
*.binlog
OpenCover/
*.mm.*
AutoTest.Net/
_Chutzpah*
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
FakesAssemblies/

# NuGet/Packages
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
*.pubxml
*.publishproj
*.[Pp]ublish.xml
*.azurePubxml
PublishScripts/

# Other tooling
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.gpState
*.jmconfig
*.GhostDoc.xml
*.tss
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*.rptproj.bak
*.appx
*.appxbundle
*.appxupload
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
Generated_Code/
Generated\ Files/
csx/
*.build.csdef
ecf/
rcf/
ServiceFabricBackup/
MigrationBackup/
*.mdf
*.ldf
*.ndf
*.opt
*.vbw
*.plg
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Node/JS
node_modules/
#bower_components/

# Terraform
.terraform/
.terraform.lock.hcl
errored.tfstate 

# Ignore user secrets and sensitive config (if used)
secrets.json
appsettings.Development.json

# Do NOT ignore these (ensure they are tracked):
!Views/
!Content/
!publish/
!Web.config
!Global.asax
!ApplicationInsights.config
!Dockerfile
!*.cs
!*.cshtml
!*.csproj
!*.sln
!*.json
!*.tt
!*.xml
!*.yml
!*.yaml
!*.md
!*.sh
!*.ps1
!*.bat
!*.cmd

